body {
    cursor: url('../assets/cursor/yugicursor.png'), default;
}

a,
a:hover,
button,
button:hover,
img:hover {
    cursor: url('../assets/cursor/yamiyugicursorGLOW.png'), auto;
}

.bg-video {
    position: absolute;
    
    display: flex;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    overflow: hidden;
    z-index: -2;
}

.bg-video .video {
    height: 100vh;
}

.bg-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    background: linear-gradient(90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
    );
}

.container {
    position: relative;

    display: flex;
    
    height: 100vh;
    z-index: 3;
}

.container__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    min-width: 300px;
    width: 35%;
}

.container__right {
    width: 65%;
}

.score_box {
    background-color: #fff;
    padding: 30px;
    width: 100%;
    margin-top: 5rem;
}

.frame {
    border: 3px solid #000;
    border-radius: 5px;
}

.card_details {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    padding: 1rem;
    margin-bottom: 5rem;
    height: 6rem;
    width: 100%;
}

#card-name {
    font-size: 0.8rem;
}

#card-type {
    font-size: 1rem;
}

.card_box__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    padding: .3rem;
}

.card-versus__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 300px;
}

#player-field-card {
    border-radius: 8px;
    height: 11.2rem;
    width: 8rem;
}

#computer-field-card {
    border-radius: 8px;
    height: 11.2rem;
    width: 8rem;
}

.versus-top,
.versus-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.versus-bottom {
    margin-top: 1rem;
    height: 100px;
}

#next-duel {
    display: none;
}

.card_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 10rem;
    width: 100%;
}

.card-infield {
    border: 1px solid #fff;
    border-radius: 8px;
    height: 11.2rem;
    width: 8rem;
}

.card {
    transition: transform 0.2;
}

.card:hover {
    transform: scale(1.2);
}